@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,.8);
}

header a {
  text-decoration: none;
}

.wordmark {
  width: calc(100% - 1em);
  max-width: 400px;
  margin: 0 .5em;
  padding: 1em 0;
  display: block;
}

.nav {
  margin: 0;
  padding-top: 4.688em;
}

.nav ul {
  text-align: center;
  padding: .25em 0;
  margin-bottom: 0;
}

.nav ul a{
  text-decoration: none;
}

.nav li {
  display: inline-block;
  font-weight: 300;
  font-size: 1.25em;
  margin: .25em;
  color: #276CA3;
  transition: all 300ms ease;
}

.nav li:hover {
  text-decoration: underline; 
}

main {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.work {
  margin: 0 .5em;
  max-width: 900px;
}

.intro {
  background-color: #38AB96;
}

.intro h1 {
  max-width: 600px;
  margin: 0 .5em;
  color: white;
  padding: 1em 0;
  font-weight: 400;
}

.burger {
  width: calc(100% - 1em);
  margin: 2em .5em 0;
  max-width: 200px;
}

.img-flex {
  display: block;
  width: 100%;
}

.info {
  background-color: #276CA3; 
}

.portfolio {
  padding: 0;
}

.ptitle {
  color: #276CA3;
  margin: 0;
  font-size: 2em;
}

.psub {
  margin: 0 0 .25em 0;
  font-size: 1.25em;
  color: #38AB96;
}
 
.portfolio a {
  text-decoration: none;
  color: #38AB96;
}

.pintro {
  max-width: 600px;
}

.process {
  text-align: left;
  padding: 0 .5em;
}

.processtitle {
  color: #276CA3;
  margin: 1em 0 .25em 0;
  border-bottom: 2px solid #E5E5E5;
  line-height: inherit;
}

.processsub {
  margin-bottom: .25em;
  color: #38AB96;
  font-weight: 600;
}

.processimg {
  margin-top: 1em;
  width: 100%;
  max-width: 800px;
}

.mainimg {
  margin-top: 1em;
  width: 100%;
  max-width: 800px;
}

.back,
.next {
  text-decoration: none;
}

.backbtn,
.nextbtn {
  width: 1.25em;
  margin-top: 1em;
}

.back p,
.next p {
  margin-bottom: 1em;
  color: #276CA3;
}

.about h2 {
  color: white;
  max-width: 600px;
  margin: 0 .5em;
  padding: 1em 0;
  font-weight: 400;
}

.socialmedia {
  transition: all 300ms ease; 
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia p {
  display: inline-block;
  color: white;
  margin-bottom: .5em;
}

.socialmedia p:hover {
  text-decoration: underline;
}

.top {
  width: 2em;
  margin: 1em auto .5em auto; 
}

.top:hover {
  -webkit-animation: bounce 1s ease-in-out; 
  animation: bounce 1s ease-in-out;
}

@-webkit-keyframes bounce {
    
    0% {
        -webkit-transform: translateY(0);
    }
    
    50% {
        -webkit-transform: translateY(-5px);
    }
  
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounce {
    
    0% {
        transform: translateY(0);
    }
  
    50% {
        transform: translateY(-5px);
    }
    
    100% {
        transform: translateY(0);
    }
  
}

.footer {
  margin: 0;
  border-top: 2px solid #E5E5E5;
  text-align: center;
}

footer p {
  color: #276CA3;
  margin: 0 .5em .5em .5em;
}

.merror{
  padding-top: 4.688em; 
}

.error {
  background-color: #38AB96;
  text-align: center;
}

.error h1 {
  padding: .5em 0;
  line-height: inherit;
}

.error h3 {
  padding-bottom: 1em;
  font-weight: 300;
}

.error h1,
.error h3 {
  color: #ffffff;
  margin: 0 .5em;
}

.homeicon {
  width: 10em;
  margin: 0 auto;
  padding-bottom: 1em;
}

.footer404 {
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 16em) {
    
  figcaption {
    margin: .25em auto .5em auto
  }
    
}

@media only screen and (min-width: 18.75em) {
  
  .nav {
    padding-top: 5.938em;
  }

}

@media only screen and (min-width: 25em) {
 
  .nav {
    padding-top: 6.5em;  
  }
  
}

@media only screen and (min-width: 25.875em) {
  
  .wordmark {
    margin: 0 auto;
  }
  
}

@media only screen and (min-width: 26em) {
    
  .thumbcap {
    margin-left: auto;
  }
    
}

@media only screen and (min-width: 32.25em) {
    
  
}

@media only screen and (min-width: 38em) {
  
  .nav {
    padding-top:6em;  
  }
  
  .workt {
    padding-bottom: 0;
  }
  
  .about h2 { 
    margin: 0 auto;
  }
    
  .pintro {
    margin: 0 auto;
  }
    
}

@media only screen and (min-width: 38.5em) {
  
  .intro h1 {
    margin: 0 auto;
  }
  
}

@media only screen and (min-width: 44.75em) {
    
  .maincap {
    margin: auto;
  }
    
}

@media only screen and (min-width: 51em) {
    
  .work {
    margin: 0 auto;
  }
    
}

@media only screen and (min-width: 60em) {
  
  .nav {
    padding-top: 5.5em;
  }
  
}

@media only screen and (min-width: 80em) {
  
  .nav {
    padding-top: 5.35em;
  }
  
}