<!DOCTYPE html>
<html lang="en-ca">    
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} • {% endif %}Shaayaan Jameel{% if page.titleAfter %} • {{page.titleAfter}}{% endif %}</title>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600,500,300" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{page.meta}}">
</head>
<body>   

<ul class="skip-links">
  <li><a href="#nav">Skip to navigation</a></li>
  <li><a href="#main">Skip to main</a></li>
  <li><a href="#contact">Skip to contact</a></li>
</ul>
    
<div  id="nav" role="navigation" class="nav">
  <ul>
    <a href="#work">
      <li>WORK</li>
    </a>
        
    <a href="#about">
      <li>ABOUT</li>
    </a>
            
    <a href="#contact">
      <li>CONTACT</li>
    </a>
  </ul>
</div>
    
<header role="banner">
  <a href="{{site.baseurl}}/">
    <img class="wordmark" src="{{site.baseurl}}/images/wordmark.svg" alt="">
  </a>
</header>    
      
{{content}}
    
<footer role="contentinfo" class="footer">
  <p class="micro">© Copyright 2015 Shaayaan Jameel. All rights reserved.</p>    
</footer>

</body>    
</html>