<!DOCTYPE html>
<html lang="en-ca">    
<head>
    <meta charset="utf-8">
    <title>Shaayaan Jameel Portfolio</title>
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/type.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600,500,300" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>    
    
    <div role="navigation" class="nav">
        <ul>
            <a href="#work">
                <li>WORK</li>
            </a>
            
            <a href="#about">
                <li>ABOUT</li>
            </a>
            
            <a href="#contact">
                <li>CONTACT</li>
            </a>
        </ul>
    </div>
    
    <header>
        <a href="index.html">
            <h1 class="logo">SHAAYAAN JAMEEL</h1>
        </a>
    </header>    