<!DOCTYPE html>
<html lang="en-ca">    
<head>
    <meta charset="utf-8">
    <title>Shaayaan Jameel Portfolio</title>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600,500,300" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>    
    
    <div role="navigation" class="nav">
        <ul>
            <a href="#work">
                <li>WORK</li>
            </a>
            
            <a href="#about">
                <li>ABOUT</li>
            </a>
            
            <a href="#contact">
                <li>CONTACT</li>
            </a>
        </ul>
    </div>
    
    <header>
        <a href="{{site.baseurl}}/">
            <h1 class="logo">SHAAYAAN JAMEEL</h1>
        </a>
    </header>    
      
    {{content}}
    
    <footer role="contentinfo" class="footer">
        <p class="milli">© Copyright 2015 Shaayaan Jameel. All rights reserved.</p>
        
        <div id="contact" class="socialmedia mega">
            <a href="https://ca.linkedin.com/pub/shaayaan-jameel/62/2ba/a28">
                <p>LinkedIn</p>
            </a>
            
            <p>•</p>

            <a href="https://www.behance.net/ShaayaanJameel">
                <p>Behance</p>
            </a>

            <p>•</p>

            <a href="https://twitter.com/shaayaanjameel">
                <p>Twitter</p>
            </a>
        </div>    
    </footer>

</body>    
</html>