---
layout: default
--- 
       
<main role="main" class="portfolio">
  <div class="grid"> 
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 portfolio">
      <h1 class="ptitle">{{page.title}}</h1>
      <p>{{page.intro}}</p>
    </div>
            
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
      <img class="mainimg" src="{{site.baseurl}}/images/{{page.main-img}}" alt="">    
      <figcaption class="micro maincap">{{page.caption}}</figcaption>
    </div>
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 portfolio">
      <h2 class="processtitle">The Details</h1>
    </div>
    
    {% for thumb in page.thumbnails %}
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 portfolio">
      <img class="thumbnails" src="{{site.baseurl}}/images/{{thumb.thumb}}" alt="">
      <figcaption class="micro thumbcap">{{thumb.desc}}</figcaption>
    </div>
    {% endfor %}
  </div>
</main>