---
layout: default
--- 
       
<main id="main" role="main" class="portfolio">
  <div class="grid"> 
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 portfolio">
      <h1 class="ptitle">{{page.title}}</h1>
      <p class="psub">{{page.sub}}</p>
      <p class="pintro">{{page.intro}}</p>
    </div>
            
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2 process">
      <h2 class="processtitle">Project Overview</h2>
      <p class="processsub">{{page.process-sub1}}</p>
      <p class="processdesc">{{page.process-desc1}}</p>
    </div>
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2 process">
      <h2 class="processtitle">The Process</h2>
      <p class="processsub">{{page.process-sub2}}</p>
      <p class="processdesc">{{page.process-desc2}}</p>
    </div>  
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
      <img class="processimg" src="{{site.baseurl}}/images/{{page.process-img}}" alt="{{page.process-alt}}">  
    </div>  
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2 process">
      <h2 class="processtitle">The Challenges</h2>
      <p class="processsub">{{page.process-sub1}}</p>
      <p class="processdesc">{{page.process-desc1}}</p>
    </div>
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2 process">
      <h2 class="processtitle">The Solution</h2>
      <p class="processsub">{{page.process-sub2}}</p>
      <p class="processdesc">{{page.process-desc2}}</p>
    </div>
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
      <img class="mainimg" src="{{site.baseurl}}/images/{{page.main-img}}" alt=""> 
    </div> 
    
<!--
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
      <img class="mainimg" src="{{site.baseurl}}/images/{{page.main-img}}" alt="">    
      <figcaption class="micro maincap">{{page.caption}}</figcaption>
    </div>
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 portfolio">
      <h2 class="processtitle">The Details</h1>
    </div>
    
    {% for thumb in page.thumbnails %}
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 portfolio">
      <img class="thumbnails" src="{{site.baseurl}}/images/{{thumb.thumb}}" alt="">
      <figcaption class="micro thumbcap">{{thumb.desc}}</figcaption>
    </div>
    {% endfor %}
-->
    
    <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
      <a href="{{site.baseurl}}/{{page.previous-piece}}" class="back">
        <img class="backbtn" src="{{site.baseurl}}/images/back.svg">
        <p><strong>{{page.previous-piece-title}}</strong></p>
      </a>
    </div>
    
    <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
      <a href="{{site.baseurl}}/{{page.next-piece}}" class="next">
        <img class="nextbtn" src="{{site.baseurl}}/images/forward.svg">
        <p><strong>{{page.next-piece-title}}</strong></p>
      </a>
    </div>
  </div>
</main>